.home__skills {
  padding: 20px;
}

.home__intro {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.home__intro-logo {
  margin: auto;
}

.home__intro-logo img {
  width: 20em;
}

.home__intro-text {
  font-size: 1.2em;
  margin: auto;
  max-width: 37em;
}

@media (min-width: 768px) {
  .home__intro {
    padding: 90px 20px;
  }
  .home__intro-logo img {
    width: 35em;
  }
}
