.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  background-color: #f6f3eb;
  box-sizing: border-box;
  width: 100%;
  z-index: 100;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background-color: #f6f3eb;
  border-top: 1px solid #ddd;
}

.logo svg {
  width: 43px;
}

.nav-links.open {
  display: flex;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #333;
  border-bottom: 1px solid #ddd;
}

@media (min-width: 768px) {
  .header {
    position: static;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
    background-color: transparent;
    border-top: none;
  }

  .nav-links a {
    border-bottom: none;
    padding: 10px 20px;
    transition: color 0.4s ease-in-out, box-shadow 0.6s ease-in-out;
  }

  .nav-links a:hover {
    box-shadow: inset 200px 0 0 0 var(--primary-color);
    color: white;
  }

  .menu-button {
    display: none;
  }
}
