@font-face {
  font-family: "RunwayBlend"; /* Nombre de la fuente */
  src: url("./assets/fonts/Runway-Blend.woff2") format("woff2"),
    url("./assets/fonts/Runway-Blend.woff") format("woff"),
    url("./assets/fonts/Runway-Blend.otf") format("opentype"); /* OTF como fallback */
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #0000ff;
  --secondary-color: #f6f3eb;
  --runway-font: "RunwayBlend", sans-serif;
}

body,
html,
#root {
  background-color: #f6f3eb;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Manrope, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: var(--primary-color);
}

.app-container {
  display: flex;
  flex-direction: column;
}

.main-content {
  margin-top: 64px;
  flex: 1;
}

.app-container,
.main-content {
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.lexmake-button {
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  color: var(--primary-color);
  cursor: pointer;
  font-size: 1.2em;
  background-color: transparent;
  padding: 10px 25px;
  margin-top: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.lexmake-button:hover {
  background-color: var(--primary-color);
  color: white;
}

@media (min-width: 768px) {
  .main-content {
    margin-top: 0;
  }

  h1 {
    font-size: 2em;
  }
}
